In [7]:
#Project No. 1: Mercedes-Benz Greener Manufacturing

In [8]:
# Step1: Import the required libraries

In [9]:
# linear algebra

In [10]:
import numpy as np

In [11]:
import pandas as pd

In [12]:
from sklearn.decomposition import PCA

In [13]:
# Step2: Read the data from train.csv

In [14]:
df_train = pd.read_csv('train.csv')

In [15]:
print('Size of training set: {} rows and {} columns'
      .format(*df_train.shape))

Size of training set: 4209 rows and 378 columns

In [16]:
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [17]:
#Step3: Collect the Y values into an array

In [18]:
y_train = df_train['y'].values

In [19]:
# Step4: Understand the data types we have

In [20]:
cols = [c for c in df_train.columns if 'X' in c]

In [21]:
print('Number of features: {}'.format(len(cols)))

Number of features: 376

In [22]:
print('Feature types:')
df_train[cols].dtypes.value_counts()

Feature types:

int64     368
object      8
dtype: int64

In [23]:
# Step5: Count the data in each of the columns

In [24]:
counts = [[], [], []]
for c in cols:
    typ = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

In [25]:
print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(c) for c in counts]))

Constant features: 12 Binary features: 356 Categorical features: 8

In [26]:
print('Constant features:', counts[0])

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']

In [27]:
print('Categorical features:', counts[2])

Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [28]:
# Step6: Read the test.csv data

In [29]:
df_test = pd.read_csv('test.csv')

In [30]:
# remove columns ID and Y from the data as they are not used for learning

In [31]:
usable_columns = list(set(df_train.columns) - set(['ID', 'y']))
y_train = df_train['y'].values
id_test = df_test['ID'].values

x_train = df_train[usable_columns]
x_test = df_test[usable_columns]

In [32]:
# Step7: Check for null and unique values for test and train sets

In [33]:
def check_missing_values(df):
    if df.isnull().any().any():
        print("There are missing values in the dataframe")
    else:
        print("There are no missing values in the dataframe")

In [34]:
check_missing_values(x_train)
check_missing_values(x_test)

There are no missing values in the dataframe
There are no missing values in the dataframe

In [35]:
# Step8: If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
# Apply label encoder

In [36]:
for column in usable_columns:
    cardinality = len(np.unique(x_train[column]))
    if cardinality == 1:
        x_train.drop(column, axis=1) # Column with only one 
        # value is useless so we drop it
        x_test.drop(column, axis=1)
    if cardinality > 2: # Column is categorical
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [37]:
x_train.head()

,X359,X295,X305,X357,X270,X330,X257,X233,X15,X164,...,X45,X360,X170,X262,X302,X347,X38,X182,X59,X225
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
# Step9: Make sure the data is now changed into numericals

In [39]:
print('Feature types:')
x_train[cols].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

In [40]:
# Step10: Perform dimensionality reduction
# Linear dimensionality reduction using Singular Value Decomposition of 
# the data to project it to a lower dimensional space.

In [41]:
n_comp = 12
pca = PCA(n_components=n_comp, random_state=420)
pca2_results_train = pca.fit_transform(x_train)
pca2_results_test = pca.transform(x_test)

In [42]:
# Step11: Training using xgboost

In [43]:
import xgboost as xgb

In [44]:
from sklearn.metrics import r2_score

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
x_train, x_valid, y_train, y_valid = train_test_split(pca2_results_train, y_train, test_size=0.2, random_state=4242)

In [47]:
d_train = xgb.DMatrix(x_train, label=y_train)

In [48]:
d_valid = xgb.DMatrix(x_valid, label=y_valid)

In [49]:
d_test = xgb.DMatrix(pca2_results_test)

In [50]:
params = {}

In [51]:
params['objective'] = 'reg:linear'

In [52]:
params['eta'] = 0.02

In [53]:
params['max_depth'] = 4

In [54]:
def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

In [55]:
watchlist = [(d_train, 'train'), (d_valid, 'valid')]

In [56]:
clf = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[13:08:16] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.1484	valid-rmse:98.263	train-r2:-58.353	valid-r2:-67.6375
Multiple eval metrics have been passed: 'valid-r2' will be used for early stopping.

Will train until valid-r2 hasn't improved in 50 rounds.
[10]	train-rmse:81.2765	valid-rmse:80.3643	train-r2:-38.8843	valid-r2:-44.9101
[20]	train-rmse:66.7161	valid-rmse:65.7733	train-r2:-25.874	valid-r2:-29.7526
[30]	train-rmse:54.8696	valid-rmse:53.8896	train-r2:-17.1775	valid-r2:-19.6439
[40]	train-rmse:45.2449	valid-rmse:44.22	train-r2:-11.3598	valid-r2:-12.9001
[50]	train-rmse:37.4474	valid-rmse:36.3724	train-r2:-7.46669	valid-r2:-8.40431
[60]	train-rmse:31.1476	valid-rmse:30.0188	train-r2:-4.85761	valid-r2:-5.40575
[70]	train-rmse:26.0868	valid-rmse:24.9091	train-r2:-3.10878	valid-r2:-3.41059
[80]	train-rmse:22.0466	valid-rmse:20.8327	train-r2:-1.93465	valid-r2:-2.08513
[90]	train-rmse:18.8444	valid-rmse:17.6015	train-r2:-1.14406	valid-r2:-1.20233
[100]	train-rmse:16.3321	valid-rmse:15.0819	train-r2:-0.610478	valid-r2:-0.616944
[110]	train-rmse:14.3924	valid-rmse:13.143	train-r2:-0.250663	valid-r2:-0.227921
[120]	train-rmse:12.9201	valid-rmse:11.6875	train-r2:-0.007869	valid-r2:0.028994
[130]	train-rmse:11.8086	valid-rmse:10.612	train-r2:0.158088	valid-r2:0.199468
[140]	train-rmse:10.9743	valid-rmse:9.85401	train-r2:0.272847	valid-r2:0.309747
[150]	train-rmse:10.371	valid-rmse:9.31605	train-r2:0.350598	valid-r2:0.383056
[160]	train-rmse:9.91748	valid-rmse:8.95686	train-r2:0.406153	valid-r2:0.429713
[170]	train-rmse:9.58351	valid-rmse:8.70905	train-r2:0.445476	valid-r2:0.460833
[180]	train-rmse:9.3371	valid-rmse:8.54684	train-r2:0.473625	valid-r2:0.480729
[190]	train-rmse:9.15264	valid-rmse:8.44656	train-r2:0.494217	valid-r2:0.492844
[200]	train-rmse:9.00892	valid-rmse:8.3845	train-r2:0.509976	valid-r2:0.500269
[210]	train-rmse:8.91255	valid-rmse:8.34305	train-r2:0.520404	valid-r2:0.505198
[220]	train-rmse:8.83551	valid-rmse:8.32244	train-r2:0.528659	valid-r2:0.50764
[230]	train-rmse:8.77432	valid-rmse:8.30637	train-r2:0.535165	valid-r2:0.509538
[240]	train-rmse:8.72916	valid-rmse:8.29764	train-r2:0.539939	valid-r2:0.51057
[250]	train-rmse:8.6885	valid-rmse:8.29411	train-r2:0.544214	valid-r2:0.510986
[260]	train-rmse:8.64939	valid-rmse:8.28959	train-r2:0.548308	valid-r2:0.511519
[270]	train-rmse:8.6108	valid-rmse:8.2879	train-r2:0.55233	valid-r2:0.511718
[280]	train-rmse:8.58762	valid-rmse:8.28587	train-r2:0.554737	valid-r2:0.511957
[290]	train-rmse:8.55521	valid-rmse:8.2879	train-r2:0.558091	valid-r2:0.511718
[300]	train-rmse:8.53239	valid-rmse:8.28897	train-r2:0.560445	valid-r2:0.511592
[310]	train-rmse:8.49574	valid-rmse:8.28579	train-r2:0.564214	valid-r2:0.511966
[320]	train-rmse:8.47328	valid-rmse:8.28484	train-r2:0.566515	valid-r2:0.512078
[330]	train-rmse:8.44077	valid-rmse:8.28622	train-r2:0.569834	valid-r2:0.511915
[340]	train-rmse:8.41744	valid-rmse:8.28374	train-r2:0.572209	valid-r2:0.512208
[350]	train-rmse:8.39463	valid-rmse:8.28506	train-r2:0.574524	valid-r2:0.512052
[360]	train-rmse:8.37484	valid-rmse:8.28418	train-r2:0.576528	valid-r2:0.512156
[370]	train-rmse:8.34801	valid-rmse:8.28053	train-r2:0.579237	valid-r2:0.512585
[380]	train-rmse:8.3273	valid-rmse:8.2785	train-r2:0.581322	valid-r2:0.512825
[390]	train-rmse:8.30015	valid-rmse:8.27425	train-r2:0.584048	valid-r2:0.513324
[400]	train-rmse:8.27663	valid-rmse:8.27431	train-r2:0.586402	valid-r2:0.513318
[410]	train-rmse:8.25123	valid-rmse:8.27064	train-r2:0.588936	valid-r2:0.513749
[420]	train-rmse:8.22344	valid-rmse:8.26906	train-r2:0.591701	valid-r2:0.513935
[430]	train-rmse:8.20067	valid-rmse:8.27011	train-r2:0.593959	valid-r2:0.513811
[440]	train-rmse:8.17273	valid-rmse:8.27044	train-r2:0.596721	valid-r2:0.513773
[450]	train-rmse:8.15375	valid-rmse:8.26796	train-r2:0.598592	valid-r2:0.514065
[460]	train-rmse:8.13527	valid-rmse:8.26989	train-r2:0.60041	valid-r2:0.513838
[470]	train-rmse:8.10801	valid-rmse:8.27038	train-r2:0.603083	valid-r2:0.51378
[480]	train-rmse:8.08302	valid-rmse:8.26995	train-r2:0.605526	valid-r2:0.513831
[490]	train-rmse:8.06017	valid-rmse:8.2684	train-r2:0.607753	valid-r2:0.514013
[500]	train-rmse:8.0363	valid-rmse:8.26854	train-r2:0.610072	valid-r2:0.513997
[510]	train-rmse:8.02016	valid-rmse:8.26939	train-r2:0.611637	valid-r2:0.513896
[520]	train-rmse:7.99857	valid-rmse:8.267	train-r2:0.613726	valid-r2:0.514177
[530]	train-rmse:7.9796	valid-rmse:8.26668	train-r2:0.615555	valid-r2:0.514215
[540]	train-rmse:7.95643	valid-rmse:8.26511	train-r2:0.617785	valid-r2:0.514399
[550]	train-rmse:7.93435	valid-rmse:8.26228	train-r2:0.619903	valid-r2:0.514732
[560]	train-rmse:7.91566	valid-rmse:8.26353	train-r2:0.621692	valid-r2:0.514584
[570]	train-rmse:7.89034	valid-rmse:8.26278	train-r2:0.624108	valid-r2:0.514674
[580]	train-rmse:7.86785	valid-rmse:8.26015	train-r2:0.626248	valid-r2:0.514982
[590]	train-rmse:7.84226	valid-rmse:8.26083	train-r2:0.628675	valid-r2:0.514902
[600]	train-rmse:7.81835	valid-rmse:8.2613	train-r2:0.630936	valid-r2:0.514847
[610]	train-rmse:7.79674	valid-rmse:8.26462	train-r2:0.632973	valid-r2:0.514457
[620]	train-rmse:7.77684	valid-rmse:8.26349	train-r2:0.634844	valid-r2:0.51459
[630]	train-rmse:7.75534	valid-rmse:8.26389	train-r2:0.636861	valid-r2:0.514543
Stopping. Best iteration:
[583]	train-rmse:7.86291	valid-rmse:8.25872	train-r2:0.626717	valid-r2:0.51515

In [57]:
# Step12: Predict your test_df values using xgboost

In [58]:
p_test = clf.predict(d_test)

In [59]:
sub = pd.DataFrame()

In [60]:
sub['ID'] = id_test

In [61]:
sub['y'] = p_test

In [62]:
sub.to_csv('xgb.csv', index=False)

In [63]:
sub.head()

   ID           y
0   1   82.661789
1   2   97.046974
2   3   82.948067
3   4   76.719528
4   5  112.973297